.navbar {
padding-top: 2rem;
}
.navbar-brand {
  font-family: 'Parisienne', cursive;
  font-size: 3rem;
  font-weight: bold;
  color:#e6e6e6;
  padding-left: 3rem;
}
.buton-nav {
    font-family: 'Parisienne', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0px 18px;
    color: #e6e6e6;
}
.nav-item {
  padding: 0 20px;
}
.buton-nav:hover {
    color: #e3d0b9;
}
a.focus:link, a.focus:visited
{color:#e3d0b9;}

.contact {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/res.jpg');
  background-size: cover;
  background-position: center;
  height: 59rem;
}


.container {
  padding-top: 5rem;
}


#big-title {
  font-family: 'Parisienne', cursive;
  font-size: 5rem;
  font-weight: bold;
  color: #e3d0b9;
  filter: brightness(95%);
  padding-top: 15rem;
}


.form-group {
  padding-bottom: 2.2rem;
}


.contact-form {
    background: #000;
    background: rgba(0,0,0,0.5);
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    padding: 0px
}
.contact-form .line{
    margin-top: 1px;
    border-bottom: 10px solid #e3d0b9;
    position: relative;
}

.contact-form .form-control{
    border-radius:0.5rem;
}

.contact-form form{
    padding: 7rem 5rem;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #fff;
}
.contact-form .btnContact {
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #e3d0b9;
    font-weight: 600;
    color: #000;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}


.bg-grey {
    background: #292929;
}
.logo-footer {
    margin-bottom: 40px;
}
footer {
  color: grey;
}
footer p, a {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}
footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}
.btn-footer {
    color: grey;

   text-decoration: none;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 7px 30px;
  line-height: 47px;
}
.btn-footer:hover {
  text-decoration: none;
 }
.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
}
::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}
.form-footer input[type="button"] {
    border: none;
    background:#232323;
        margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}
.social .fa {
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}
footer ul li {
    list-style: none;
    display: block;
}
footer ul  {
   padding-left: 0;
}
footer ul  li a{
  text-decoration: none;
  color: grey;
  text-decoration:none;
}
a:hover {
    text-decoration: none;
    color: #e3d0b9;

}
.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}

.sub-title {
  color:#e3d0b9;
}
