.navbar {
padding-top: 2rem;
}
.navbar-brand {
  font-family: 'Parisienne', cursive;
  font-size: 3rem;
  font-weight: bold;
  color:#e6e6e6;
  padding-left: 3rem;
}
.buton-nav {
    font-family: 'Parisienne', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0px 18px;
    color: #e6e6e6;
}
.nav-item {
  padding: 0 20px;
}
.buton-nav:hover {
    color: #e3d0b9;
}
a.focus:link, a.focus:visited
{color:#e3d0b9;}



#home {
  /*background-image: url('../images/title.jpg');*/
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/title2.jpg');
  background-size: cover;
  background-position: center;
  height: 59rem;
  /*opacity: 0.85;*/
}
#big-title {
  font-family: 'Parisienne', cursive;
  font-size: 7rem;
  font-weight: bold;
  color: #e3d0b9;
  filter: brightness(85%);
}
#title-quote{
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  color:#e6e6e6;
  filter: brightness(90%);
}
.title-text {
  padding-top: 15%;
}
.arrow {
  margin-top: 13rem;
}
.arrow:hover {
  width:80px;
  height:80px;
   transition-property: height, width;
   transition-duration: 1s;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    padding-left: 4%;
  }
}

.light-part {
  padding-top: 2rem;
  background-color: #e6e6e6;
}

.sub-title {
  font-family: 'Parisienne', cursive;
  font-size: 5rem;
  font-weight: bold;
  color: #e3d0b9;
  filter: brightness(85%);
}
.sub-des {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  color:#4f3830;
}
.paragraf {
  font-family: 'Open Sans', sans-serif;
  color:#4f3830;
  padding: 3rem 10rem;
  font-weight: bold;
  margin-bottom: 0;
}
.menuPicture {
  position: relative;
}
.menuButton {
  display: inline-block;
  text-decoration: none;
  background-color: Transparent;
  color: #e3d0b9;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border:solid 2px #e3d0b9;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  position: absolute;
  right:900px;
  top:150px;
}
.menuButton:hover {
  background-color: #e3d0b9;
  color: #4f3830;
}
.shop-section {
  background-color: #e6e6e6;
}
.shopButton {
  display: inline-block;
  text-decoration: none;
  background-color: Transparent;
  color: #4f3830;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border:solid 2px #4f3830;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}
.shopButton:hover {
  background-color: #4f3830;
  color: #e3d0b9;
}
.end-section .sub-title {
  padding-top: 10rem;
}
.end-section .sub-des {
  color: #e6e6e6;
  filter: brightness(90%);
}
.end-section .paragraf{
  color: #e6e6e6;
  padding-left: 19rem;
  padding-right: 19rem;
  line-height: 200%;
}
.end-section {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/coffee-bean.jpg');
  background-size: cover;
  background-position: center;
  height: 59rem;

}
.end-section img {
  margin-top: 5rem;
}




.bg-grey {
    background: #292929;
}
.logo-footer {
    margin-bottom: 40px;
}
footer {
  color: grey;
}
footer p, a {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}
footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}
.btn-footer {
    color: grey;

   text-decoration: none;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 7px 30px;
  line-height: 47px;
}
.btn-footer:hover {
  text-decoration: none;
 }
.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
}
::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}
.form-footer input[type="button"] {
    border: none;
    background:#232323;
        margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}
.social .fa {
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}
footer ul li {
    list-style: none;
    display: block;
}
footer ul  {
   padding-left: 0;
}
footer ul  li a{
  text-decoration: none;
  color: grey;
  text-decoration:none;
}
a:hover {
    text-decoration: none;
    color: #e3d0b9;

}
.logo-part {
    border-right: 1px solid grey;
    height: 100%;
    }
